* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*  border: 2px solid red; */
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

#logo {
    /* margin-bottom: 5px;
    margin-top: 5px; */
    width: 9%;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;

}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: center;
    margin: 0;
    padding-right: 40px;
    transition: 2s;

    /* border: 2px solid red; */
}

nav.black ul {
    background: #000;

}

nav ul li {
    display: inline-block;
    padding: 16px 40px;
    ;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.menu-icon {
    line-height: 60px;
    width: 100%;
    background: #000;
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;

}

#home {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

#bio {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

#releases {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}

#plataformas {
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
}


/* .menu {
    display: flex;
    flex-direction: row;
} */

body {
    height: 280vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    scroll-behavior: smooth;
    /* height: 100vh; */
    width: 100%;

    /* border: 2px solid red; */
}

main {
    /* background-color: #f7b42c; */
    /* background-image: linear-gradient(315deg, #f7b42c 0%, #fc575e 74%); */
    /* display: block; */
    text-align: center;
    /* border: 2px solid red; */
    height: 80vh;
    border-bottom: 2px solid white;
}

#platforms {
    display: flex;
    /* height: 80vh; */
    position: absolute;
    width: 100%;
    margin-top: 18%;
    /* padding-top: 18%; */
    justify-content: space-evenly;
    /* border: 2px solid red; */
    cursor: pointer;
    /* height: 90vh; */
}

#bio-title {
    margin-left: 10%;
    margin-right: 55%;
    margin-top: 5%;
    height: auto;
    font-family: 'Times New Roman', Times, serif;
    /* border: 2px solid red; */
}

#biopage {
    /* background-color: orange; */
    background-image: url(/Images/Capa\ spotify\ foto\ sorrindo\ 2.jpg);
    background-attachment: local;
    background-size: auto;
    width: 100%;
    height: 90vh;
    /*  margin-left: 10%;
    margin-right: 60%;
    padding-top: 70%;
    margin-bottom: 15%; */
    color: white;
    /* padding-left: 5%;
    padding-right: 5%; */
    /*  border: 2px solid red; */
    justify-content: center;
    text-align: justify;
    border-bottom: 2px solid white;
}

#texto-bio {
    height: 50vh;
    margin-left: 10%;
    margin-right: 55%;
    overflow-y: scroll;
    overflow-x: hidden;

    /* border: 2px solid red; */
}

.releases {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 5%;


}

.flex-box {
    height: 24.5vh;
    display: flex;
    justify-content: space-evenly;


}

.card {
    color: white;
    text-align: center;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
    width: 13vw;
    height: 100%;
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

}

h4 {
    font-weight: lighter;
    font-size: 130%;
}

.card:hover {
    border: 2px solid white;
    transition: 1s;
    width: 15%;

}

#home:hover {
    transition: 1s;
    height: 55%;
}

/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}




#spotifyicon:hover {
    color: rgb(30, 215, 96);
}

#youtubeicon:hover {
    color: rgb(255, 0, 0);
}

#applemusicicon:hover {
    color: rgb(85, 85, 85);
}

#soundcloudicon:hover {
    color: rgb(255, 119, 0);
}

.minhafoto {
    background-position: center;
    background-size: auto;
    align-content: center;
    align-items: center;
    text-align: center;
}

footer {
    display: none;
}

.icons {
    font-size: xx-large;
    color: white;


}



@media(max-width: 768px) {

    .logo {
        position: fixed;
        top: 0;
        margin-top: 16px;
    }

    nav ul {
        max-height: 0px;
        background: #000;
    }

    nav.black ul {
        background: #000;
    }

    .showing {
        max-height: 34em;
    }

    nav ul li {
        box-sizing: border-box;
        width: 100%;
        padding: 24px;
        text-align: center;
    }

    .menu-icon {
        display: block;
    }

    #platforms {
        width: 100%;
        margin-top: 50%;

    }

    #biopage {
        background-image: none;
        background-size: auto;
        background-position: left;
        width: 100%;
        height: 90vh;
        scroll-snap-align: start none;
        /* scroll-snap-align: start; */
        /*  margin-left: 10%;
        margin-right: 60%;
        padding-top: 70%;
        margin-bottom: 15%; */
        color: white;
        /* padding-left: 5%;
        padding-right: 5%; */
        /*  border: 2px solid red; */
        justify-content: center;
        text-align: justify;

    }

    #texto-bio {
        height: 70vh;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
        overflow-y: scroll;
        overflow-x: hidden;
        scroll-snap-type: y mandatory;
    }

    .releases {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        height: 100vh;
        overflow: scroll;
        padding-top: 15vh;
    }

    .flex-box {
        margin-top: 5%;
        padding: 5%;
        height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

    }

    .card {
        color: white;
        text-align: center;
        background-color: black;
        font-family: 'Times New Roman', Times, serif;
        width: 25vw;
        height: 100%;
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
    }

    h4 {
        font-weight: lighter;
        font-size: 100%;
    }


}